/* Container Styling */
.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  height: 100%;
  gap: 20px;
}

.voiceSelect {
  width: 45%;
  height: 50px;
}

.voiceText {
  width: 100%;
  }

.voicePlayer {
  width: 75%;
  height: 50px;
}

.voiceButton {
  width: 45%;
  height: 50px;
}
/* Content Styling */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Controls Styling */
.controls {
  margin-bottom: 2rem;
}

.selectVoice,
.select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 80%;
  max-width: 300px;
}

.textarea {
  padding: 10px;
  margin-bottom: 1rem;
  width: 90%;
  max-width: 900px;
  height: 250px;
  font-size: 1rem;
  resize: vertical;
}

/* Button Styling */
.speakButton,
.button150 {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.speakButton:hover,
.button150:hover {
  background-color: #45a049;
}

.button150:disabled {
  background-color: #ccc;
}

/* Layout for Left and Right Columns */
.ssmlContainer {
  display: flex;
  height: 85%;
  gap: 20px;
}

.leftPane,
.leftColumn {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.rightPane,
.rightColumn {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-size: 0.95rem;
  overflow-y: auto;
}

.rightColumn {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

/* Audio Controls */
.playButton {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.audioControls {
  margin-top: 10px;
}

.audioPlayer {
  width: 100%;
}

.codeBlock {
  background: #f0f0f0;
  padding: 10px;
  overflow-x: auto;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.rightColumnContent pre {
  background: #eee;
  padding: 8px;
  border-radius: 4px;
}

/* Loader Styling */
.loader {
  margin-top: 20px;
  text-align: center;
}

.audioSamples {
  margin-top: 20px;
}
.audioControls {
  margin-top: 1rem;
}

.downloadLink {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 0.5rem;
  color: #e2b901;
  text-decoration: underline;
  cursor: pointer;
  background-color: #45a049;
}